body{
    background-image:url("/img/bg.jpg") ;
    background-attachment: fixed;
    font-family: 'Aladin', cursive;
}
h1{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.intro{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.form_cont{
    height:fit-content ;
    background-image:url("/img/form.jpg");
    margin-left: 15%; 
    font-size: 24px;
}
legend{
    text-align: center;
}
#submit, #reset{
    background-color: green;
    color: white;
    width: 100px;
}
.butn{
    margin-left: 70px;
}
.sheet{
    color: white;
}
table{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}